
  @import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.flex{
  display: flex;
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.padding_1_side{
  padding: 0 10em;
}
.padding_1_top{
  padding-top: 1em;
}
.padding_1_buttom{
  padding-bottom: 1em;
}
.anchor_{
  text-decoration: none;
  color: var(--white_text);
}





