:root{
    --nav_back: #37517e;
    --white_text: #ffffff;
    --light_blue: #00a6eb;
}

.frontpage{
    flex-direction: column;
    width: 100%;
}

.Navigation_header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--nav_back);
    color: var(--white_text);
    position: relative;
    z-index: 9;
}

.brand_name{
    font-size: 2.5rem;
    z-index: 8;
}

.unordered_list{
    list-style: none;
    transition: .5s ease;
}
.list_item{
    cursor: pointer;
    width: 8em;
    padding: 1em 0;
    text-align: center;
}
.list_item a{
    padding: 1em 0;
    transition: .3s ease;
}
.list_item a:hover{
    color: var(--light_blue); 
}

.menu{
    height: 2.5em;
    width: 4em;
    border: 2px solid var(--light_blue);
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}
.bar{
    width: 1.8em;
    height: 2px;
    background-color: var(--white_text);
    border-radius: 50%;
    position: relative;
    transition: .5s ease;
}

.bar::before{
    transform: translateY(-10px);
}
.bar::after{
    transform: translateY(10px);
}
.bar::after, .bar::before{
    content: "";
    position: absolute;
    background-color: var(--white_text);
    width: inherit;
    height: inherit;
    transition: .5s ease;
}
.menu_clicked.bar{
    background-color: transparent;
    transform: rotate(180deg);
    
}
.menu_clicked.bar::before{
    background-color: var(--light_blue);
    transform: rotate(135deg);
    
}
.menu_clicked.bar::after{
    background-color: var(--light_blue);
    transform: rotate(45deg);
}

.menu.glow{
    box-shadow: 0px 0px 5px 0px var(--light_blue);
}